.cesium-minimap {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px;
  height: 150px;
  background: #f8f8f9 none repeat scroll 0 0;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 1px 7px #999;
  transition: all 0.2s ease 0s;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.cesium-minimap .minimap-container {
  height: 100%;
  width: 100%;
}

.cesium-minimap .minimap-toggle-display {
  transition: all 0.2s ease 0s;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19px;
  height: 19px;
  background-color: #fff;
  background-image: url('../images/toggle.png');
  z-index: 1000;
}

.cesium-minimap .minimap-toggle-display.minimized {
    transform: rotate(180deg);
}