body{
  background-color:#fff;
  font-family: 'Arial', sans-serif;
  font-size:14px;
  font-weight:300;
  padding-top:70px;
}
a{
  color:#808080;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	margin-top:0px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	font-weight:100;
	text-transform: uppercase;
}
h1{
	font-size:1.5em;
}
h2{
	font-size:1.4em;
}
h3{
	font-size:1.3em;
}
h3 span.count{
	font-size:14px;
	font-weight:normal;
}
h4{
	font-size:1.2em;
}
p{
	line-height:1.7em;
    margin-bottom:2.0em;
}
label{
	font-weight:normal;
}
table{
 width:100%;
}
table thead{
 background-color:#e9e9e9;
}
table thead a:hover{
	color:#000;
}
table thead .small{
	color:#808080;
}
table thead .active{
	color:#000;
	font-weight:400;
}
table th{
	text-align: center;
	padding:5px;
	white-space: nowrap;
	 font-weight:300;
	 text-transform: capitalize;
	 color:#808080;
}
table tr{
	 border-bottom: 1px solid #F0F0F0;
}
table tr:last-child{
	border-bottom:0px;
}
table tr td{
  text-align: center;
  padding:8px;
  font-size:0.9em;
  font-weight:300;
  width:10%;
}
table tr td.logo{
	height:80px;
	vertical-align:middle;
}
table tr td.logo img{
	width:80%;
}
table tr td.logo img:hover{
    opacity:0.75;
}
table tr td.aircraft_thumbnail img:hover{
    opacity:0.75;
}
table tr td.ident{
	width:10%;
}
table tr td.message{
	text-align: left;
	word-wrap: break-word;
	max-width: 50em;
	font-size: x-small;
}
table tr td p.decode{
	font-size: small;
}
table tr td.more{
	width:1%;
}
table tr td.more .dropdown-menu li a{
	text-align:left;
}
table tr td.more .dropdown-menu li hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.thumbnail-copyright{
	font-size: xx-small;
}
ul{
    margin-bottom:1.5em;
}
#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    background-color:white;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse{
    margin-left:0px;
    margin-right:0px;
}
.navbar .container{
	padding-top:0px;
	padding-bottom:0px;
}
.navbar .navbar-brand{
	padding:0px;
	padding-top:10px;
}
.navbar .nav a{
	color:#fff;
	font-weight:100;
	text-transform: uppercase;
	font-size:1.2em;
	padding-left:1.5em;
	padding-right:1.5em;
}
.navbar .nav a:hover{
	background-color:#eee;
	color:#000;
	text-decoration: none;
}
.navbar .nav .dropdown.open a{
	color:#000;
}
.navbar .nav .dropdown-menu a{
	color:#000;
	font-size:1.0em;
}
.navbar .nav .dropdown-menu a:hover{
	background-color: transparent;
	text-decoration: underline;
}
.navbar .nav hr{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.navbar .social{
	float:right;
	margin-right:1.5em;
	margin-top:1.0em;
}
.navbar .social a{
	font-size:1.3em;
	display:inline-block;
	margin-left:0.5em;
	color:#fff;
}
.navbar .social a:hover{
	opacity:0.75;
}
.navbar form{
	border-bottom:0px;
	margin-top:10px;
	margin-bottom:0px;
	padding:0px;
	float:right;
	display:inline-block;
	width:180px;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.navbar form input[type="text"]{
	width:80%;
	padding-left:10px;
	border:0px;
	outline:none;
	color:#aaa;
	font-style:italic;
	font-size: 0.9em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.navbar form button{
	color:#aaa;
	background-color:#fff;
	border:0px;
	float:right;
	padding:5px;
	padding-right:10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.container{
  padding-top:10px;
  padding-bottom: 15px;
  padding-left:0px;
  padding-right:0px;
}
.navbar{
	margin-bottom:0px;
	border:0px;
	background-color: #1a3151;
}
footer{
	text-align: center;
	padding-top:1.0em !important;
	padding-bottom:3.0em !important;
	font-size:0.9em;
	border-top:1px solid #ddd;
	margin-top:2.0em;
}
footer span{
	margin-left:0.5em;
	margin-right:0.5em;
}
footer a:hover{
	text-decoration: underline;
}
.sidebar{
	margin-top:1.0em;
}
.sidebar h3{
	font-weight:300;
	text-transform: uppercase;
	margin-top:0px;
}
.sidebar ul{
	margin:0px;
	padding:0px;
}
.sidebar ul li{
	margin:0px;
	padding:0px;
	list-style-type: none;
	list-style: none;
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-left:10px;
}
.sidebar a.active{
	color:#092555;
}
.col-sm-9{
	margin-top:1.0em;
}
.pagination{
	text-align: center;
	width:100%;
}
.pagination a{
	display:inline-block;
	margin-right:15px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 4px;
}
.pagination a:hover{
	color:#fff;
	background-color:#1a3151;
}
.column{
	margin-bottom:15px;
}
.info{
	clear:both;
	overflow:hidden;
	margin-bottom:0.5em;
}
.info .description{
	text-transform:inherit;
	font-weight:normal;
	margin-right:10px;
	font-size:inherit;
}
.info div{
	display: inline-block;
	margin-bottom:2.0em;
	font-weight:400;
	margin-right:2.0em;
}
.info img.logo{
	float:left;
	margin-right:25px;
	max-width:100px;
	max-height:50px;
}
.info span{
	color:#595959;
	font-weight:100;
	text-transform: uppercase;
	padding:0px;
	margin-right:5px;
	text-align: left;
	font-size:0.8em;
}
.clear{
	clear:both;
	overflow:hidden;
}
.chart{
	margin-bottom:20px;
}
#map{
	width:100%;
	height:350px;
	margin-bottom:0px;
}
.top-header{
	padding:0px;
	margin-top:-20px;
	margin-bottom:1.0em;
}
.top-header img{
	width:100%;
}
#notification-permission{
	display:none;
}
span.mobile,
span.tablet,
a.mobile,
a.tablet{
	display:none !important;
}
form{
  margin-bottom:20px;
  padding:40px;
  padding-bottom:30px;
}
form fieldset{
	margin-bottom:20px;
}
form label{
  display:inline-block;
  width:200px;
  margin-bottom:10px;
  vertical-align: top;
}
form input[type="text"],
form input[type="password"],
form textarea,
form select{
	width:350px;
	padding:5px;
	border:1px solid #ddd;
}
form .sources input[type="text"] {
	width:auto;
}
form .radio label{
	display:inline-block;
	width:inherit;
}
form .time{
	margin-bottom:20px;
}
form #recaptcha_widget_div{
	display: inline-block;
}
form #recaptcha_widget_div table tr:nth-child(even){
	background-color:transparent;
}
a.full-width{
	width:100%;
}
.search-containers .search-box{
	display: inline-block;
	margin-right:30px;
}
.search-containers .search-box:last-child{
	margin-right:0px;
}
.search-containers form{
	border-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	padding:0px;
	margin-bottom:0px;
	border:1px solid #ddd;
}
.search-containers button{
	color:#aaa;
	background-color:#fff;
	border:0px;
}
.search-containers button i{
	font-size:1.2em;
}
.search-containers .bootstrap-select{
	margin-bottom:0px !important;
	border-right:1px solid #ddd;
	width:315px !important;
}
.notifications .alert{
	background-color:#eee;
	border:0px;
	box-shadow: 1px 0px 2px #888888;
}
.notifications .alert .close{
	display:inline-block;
	margin-left:5px;
}
.alphabet-legend{
	margin-bottom: 3.0em;
}
.alphabet-legend a{
	display:inline-block;
	margin-left:0.2em;
	margin-right:0.2em;
}
.alphabet-header{
	font-weight:bold;
}
.alphabet{
	margin-bottom:3.0em;
}
.alphabet .alphabet-item{
	display:inline-block;
	vertical-align: top;
	margin-bottom:2.0em;
	width:30%;
	margin-right:2.0em;
}
.alphabet .alphabet-airline.alphabet-item{
	display:inline-block;
	vertical-align: top;
	margin-bottom:3.0em;
	width:20%;
}
.alphabet .alphabet-item img{
	max-width:100px;
	max-height:60px;
}
.alphabet .alphabet-item a:hover img{
	opacity:0.75;
}
.overview-statistic{
	margin-bottom:3.0em;
}
.overview-statistic .more{
	text-align: right;
	margin-top:0.5em;
	font-weight:500;
	border-top:1px solid #ddd;
	padding-top:0.5em;
}

body span.airport_time{
	text-align: center;
	font-size: 0.5em;
	font-style: italic;
}
/* SUB MENU */
.sub-menu-statistic{
		margin-bottom:15px;
}
.sub-menu-statistic,
.sub-menu-statistic a{
	display: block;
	width:100%;
	background-color:#314f77;
	color:#fff;
}
.sub-menu-statistic a i{
	float:right;
}
.sub-menu{
	background-color:#314f77;
	margin-bottom:2.0em;
}
.sub-menu ul{
	margin:0px;
	padding:0px;
}
.sub-menu ul li{
	display:inline-block;
	list-style: none;
	list-style-type: none;
}
.sub-menu ul li ul li{
	display:block;
}
.sub-menu ul li a{
	color:#fff;
	width:100%;
	font-weight:100;
	text-transform: uppercase;
	font-size:1.0em;
	padding-left:1.5em;
	padding-right:1.5em;
}
.sub-menu ul li a:hover,
.sub-menu ul li a.active{
	background-color:#1a3151;
}
.sub-menu .nav .dropdown.open a {
    background-color:#1a3151;
}
.sub-menu .nav .dropdown.open li a{
	background-color:transparent;
}
.sub-menu .nav .dropdown-menu a {
    color: #000;
    font-size: 1.0em;
    display:block;
    margin-top:0.3em;
}
.sub-menu .nav .dropdown-menu a:hover,
.sub-menu .nav .dropdown-menu a.active {
    background-color: transparent;
    text-decoration: underline;
}
.sub-menu .nav hr{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.sub-menu ul.dropdown-menu li span{
	padding-left:1.5em;
	padding-right:1.5em;
}

.select-item form{
	padding:0px;
}
.select-item form label{
	width:inherit;
	margin-right:10px;
	vertical-align: middle;
	margin-bottom:0px;
}
.select-item form input[type="text"].custom{
	width:100px;
	cursor: pointer;
}
.select-item form button[type="submit"]{
	background-color:#fff;
	border:0px;
	font-size:1.2em;
	color:#00aded;
}
.select-item form .bootstrap-select{
	margin-top:5px;
}

/* PAGE HEADER */
.page-header{
    border-bottom:0px; 
    padding-top:3.0em;
    margin-bottom:4.0em;
    height:320px;
    overflow:hidden;
    box-shadow: 0 4px 7px -2px gray;
}
.page-header .big-image{
    float:right;
    width:225px;
    margin-right:10.0em;
}
.page-header .content{
    margin-left:7.0em; 
    margin-top:2.0em;
    float:left;
}
.page-header .content h1{
    border-bottom:0px; 
    font-size:2.0em;
    text-shadow: 1px 1px #aaa;
}
.page-header .content p{
    width:500px;   
    font-size:1.5em;
}


/* RE-CAPTCHA */
.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r2_c2, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell {
	background: none !important;
}
.recaptchatable .recaptcha_r2_c2{
	display:none !important;
}
#recaptcha_response_field{
	padding:7px !important;
	border:1px solid #ddd !important;
	outline:0 !important;
}
#recaptcha_privacy{
	display:none !important;
}



/* jQuery UI Datepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }


/* ABOUT */
body.page-about .container
body.page-about .container ul li{
	margin-bottom:5px;
}
body.page-about .container ul.social{
	margin:0px;
	padding:0px;
}
body.page-about .container ul.social li{
	list-style: none;
	list-style-type: none;
	margin-bottom:10px;
}

/* Bootstrap Popover */
.popover-title{
    color:#808080;
}
.popover-content{
    color:#808080;
}

/* ABOUT/TV */
body.page-about-tv .tv-launch{
	text-align: center;
	background-color:#B5CBE8;
	border:1px solid #1a3151;
	padding:8px;
	margin:0 auto;
	display:block;
	width:50%;
	margin-bottom:3.0em;
}
body.page-about-tv .tv-launch a{
	color:#fff;
	font-size:1.3em;
}
body.page-about-tv .tv-launch a:hover{
	color:#1a3151;
}
body.page-about-tv .tv-image{
	text-align: center;
	margin-bottom:3.0em;
	margin-top:2.0em;
}
body.page-about-tv .tv-image img{
	width:50%;
}


/* ABOUT/LAYAR */
body.page-about-layar .layar-launch{
	text-align: center;
	background-color:#B5CBE8;
	border:1px solid #1a3151;
	padding:8px;
	margin:0 auto;
	display:block;
	width:50%;
	margin-bottom:3.0em;
    margin-top:3.0em;
}
body.page-about-layar .layar-launch a{
	color:#fff;
	font-size:1.3em;
}
body.page-about-layar .layar-launch a:hover{
	color:#1a3151;
}


/* ABOUT/MAP */
body.page-about-map .image-right-desktop{
    float:right;
    width:450px;
}
body.page-about-map .image-right-desktop img{
    width:100%;
}
body.page-about-map .image-right-mobile{
    float:right;
    width:200px;
    margin-right:2.0em;
    margin-left:3.0em;
}
body.page-about-map .image-right-mobile img{
    width:100%;
}
body.page-about-map .main-content strong{
    font-weight:500;
}


/* ABOUT/EXPORT */
body.page-about-export .main-content .fa{
	float:right;
	font-size:15.0em;
	margin-left:0.1em;
	margin-bottom:0.1em;
	color:#314f77;
}
body.page-about-export .main-content ul{
	padding:0px;
}
body.page-about-export .main-content ul li{
	margin-bottom:1.5em;
	list-style: none;
	list-style-type:none;
}
body.page-about-export .main-content ul li ul{
	padding-left:2.0em;
	margin-top:0.5em;
}
body.page-about-export .main-content ul li ul li{
	list-style-type: circle;
}
body.page-about-export .export-image{
	text-align: center;
	margin-bottom:3.0em;
	margin-top:2.0em;
}
body.page-about-export .export-image img{
	width:70%;
}


/* SEARCH */
body.page-search .sub-menu li.short-url{
	float:right;
	color:#fff;
	padding: 5px 15px;
}
body.page-search .sub-menu .short-url input{
	color:#000;
	font-size:0.9em;
	padding:3px;
	outline:none;
}
body.page-search fieldset legend{
	font-weight:300;
	text-transform: uppercase;
    font-size:1.2em;
}
body.page-search .advanced-button{
    margin-bottom:10px;
    margin-top:-20px;
}
body.page-search #map3d{
    height: 600px;
    width: 100%;
}
body.page-search #map3d h3{
    padding:10px;
    margin-bottom:0px;
    font-weight:400;
    color:#1a3151;
}
body.page-search #map3d .ge-balloon{
    padding:10px;   
}
body.page-search #map3d .ge-balloon .ge-image{
    width:180px;
    float:right;
}
body.page-search #map3d .ge-balloon .ge-image:hover{
    opacity:0.75;   
}
body.page-search #map3d .ge-balloon .ge-row{
    margin-bottom:0.5em;
}
body.page-search #map3d .ge-balloon .ge-row a{
    color:#404040;
}
body.page-search #map3d .ge-balloon .ge-row a:hover{
    text-decoration: underline;
}
body.page-search #map3d .ge-balloon .ge-row span{
    display:block;
    text-transform: uppercase;
    color:#9E9E9E;
}


/* FLIGHT ID */

body.page-flightid-overview .airline-logo{
    max-width:120px;
    max-height:60px;
    margin-right:0.5em;
}
body.page-flightid-overview .sub-menu{
    margin-bottom:0px;
}
body.page-flightid-overview .image{
    margin-bottom:2.5em;
}
body.page-flightid-overview .image img{
    width:100%;
}
body.page-flightid-overview .image .note{
    padding-top:0.5em;
}
body.page-flightid-overview .details{
    margin-top:1.0em;
    margin-bottom:2.0em;
}
body.page-flightid-overview .details .detail{
    margin-bottom:1.0em;
    padding-bottom:0.5em;
    color:#989898;
    display:inline-block;
    margin-right:1.0em;
    width:275px;
    font-size:1.1em;
    vertical-align: top;
}
body.page-flightid-overview .details .detail::before{
    font-family: FontAwesome;
    float:left;
    position: relative;
    margin-right:10px;
    font-size:1.3em;
    color:#314f77;
    height:50px;
}
body.page-flightid-overview .details .detail.callsign::before{
    content: "\f0cb"; 
}
body.page-flightid-overview .details .detail.airline::before{
    content: "\f0c9"; 
}
body.page-flightid-overview .details .detail.aircraft::before{
    content: "\f072"; 
}
body.page-flightid-overview .details .detail.registration::before{
    content: "\f022"; 
}
body.page-flightid-overview .details .detail.registration::before{
    content: "\f022"; 
}
body.page-flightid-overview .details .detail.departure::before{
    content: "\f0d8"; 
}
body.page-flightid-overview .details .detail.arrival::before{
    content: "\f0d7"; 
}
body.page-flightid-overview .details .detail.speed::before{
    content: "\f0e4"; 
}
body.page-flightid-overview .details .detail.heading::before{
    content: "\f14e"; 
}
body.page-flightid-overview .details .detail.altitude::before{
    content: "\f07d"; 
}
body.page-flightid-overview .details .detail.coordinates::before{
    content: "\f041"; 
}
body.page-flightid-overview .details .detail.date::before{
    content: "\f073"; 
}
body.page-flightid-overview .details .detail .title{
    display:block;
    color:#000;
}
body.page-flightid-overview .details .detail span{
    margin-right:20px;
}
body.page-flightid-overview .details .detail .date{
    display:block;
}
body.page-flightid-overview .last-flights{
    margin-bottom:2.0em;
    padding-top:1.0em;
}
body.page-flightid-overview .last-flights .more{
    text-align: center;
    margin-top:1.0em;
}
body.page-flightid-overview .share{
    text-align:center;
    padding-top:2.0em;
}

/* HIGHLIGHTS */
body.page-highlights-display .view-type{
     float:right;
}
body.page-highlights-display .view-type a{
    display:inline-block;
    margin-left:0.5em;
    font-size:1.3em;
}
body.page-highlights-display .view-type a.active{
    color:#428bca;   
}
body.page-highlights-display .dispay-view div{
	display:inline-block;
    margin-right:1.0em;
    margin-bottom:1.0em;
}
body.page-highlights-display .dispay-view div:nth-child(4n){
    margin-right:0px;   
}
body.page-highlights-display .dispay-view div img{
    width:230px;
}
body.page-highlights-display .dispay-view div img:hover{
    opacity:0.7;
}


/* HIGHLIGHTS - TABLE */
body.page-highlights-table .view-type{
     float:right;
}
body.page-highlights-table .view-type a{
    display:inline-block;
    margin-left:0.5em;
    font-size:1.3em;
}
body.page-highlights-table .view-type a.active{
    color:#428bca;   
}
body.page-highlights-table table tr td{
	padding-bottom:2.0em;
}
body.page-highlights-table table tr.special{
	border-bottom:0px;
}
body.page-highlights-table table tr.special td{
	text-align: left;
	padding-bottom:0px;
	padding-top:2.0em;
}
body.page-highlights-table table tr.special td h4{
	border-bottom:0px;
	margin-bottom:0px;
	text-transform: inherit;
}


/* SEARCH */
body.page-search .datepicker{
	cursor: pointer;
}


/* STATISTIC */
body.page-statistics .global-stats{
    margin-top:3.0em;
}
body.page-statistics .global-stats div{
    text-align: center;
    font-size:2.0em;
    margin-bottom:3.0em;
}
body.page-statistics .global-stats .type{
    display:block;
    text-transform: uppercase;
    border-bottom:1px solid #ddd;
    color:#1a3151;
    padding-bottom:0.2em;
    margin-bottom:0.2em;
    font-size:0.7em;
}
body.page-statistics .specific-stats .col-md-6{
    margin-bottom:5.0em;
}
body.page-statistics .specific-stats .col-md-6 .more{
    text-align: right;
}

/* UPCOMING */
body.page-upcoming table tr.currentHour .time{
    font-weight:bold;
}
body.page-upcoming table tr td.logo img{
    width:60%;
}

/* Widescreen */
@media only screen and (min-width: 1199px){

	/* HIGHLIGHTS */
    body.page-highlights-display .dispay-view div:nth-child(4n){
        margin-right:1.0em;
    }
    body.page-highlights-display .dispay-view div:nth-child(5n){
        margin-right:0px;   
    }
    body.page-highlights-display .dispay-view div img{
        width:220px;
    }

}

/* Tablet (Landscape) */
@media only screen and (min-width: 992px) and (max-width: 1199px){

	/* GLOBAL */
	.search-containers .bootstrap-select{
		width:235px !important;
	}
    span.notablet,
    a.notablet{
		display:none !important;
	}
	span.tablet,
    a.tablet{
		display:inline-block !important;
	}
    
    /* FLIGHT ID */
	body.page-flightid-overview .image{
        width:500px;
    }

}


/* Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	/* GLOBAL */
	.nav>li>a{
		padding: 10px 10px;
	}
	.navbar-nav{
		margin-top:8px;
	}
	.search-containers .bootstrap-select{
		width:165px !important;
	}
	.navbar .navbar-brand{
		margin-left:0px !important;
	}
	.navbar .social{
		display:none;
	}
	.navbar form{
		width:120px;
	}
	.navbar form input[type="text"]{
		width:75%;
	}
    span.notablet,
    a.notablet{
		display:none !important;
	}
	span.tablet,
    a.tablet{
		display:inline-block !important;
	}

	/* FLIGHT ID */
	body.page-flightid-overview .image{
        width:425px;
    }
    
    /* HIGHLIGHTS */
    body.page-highlights-display .dispay-view div:nth-child(4n){
        margin-right:1.0em;
    }
    body.page-highlights-display .dispay-view div:nth-child(3n){
        margin-right:0px;   
    }
    body.page-highlights-display .dispay-view div img{
        width:240px;
    }
    
    /* STATISTIC */
    body.page-statistics .global-stats div{
        font-size:2.0em;
    }

}


/* Mobile (Portrait/Landscape) */
@media only screen and (max-width: 767px) {

    /* GLOBAL */
    body{
	    padding-top:0px;
    }
	.container.main-content{
	    padding-left:0px;
	    padding-right:0px;
	    padding-top:60px;
	}
	.top-header{
		display:none;
	}
	span.nomobile,
    a.nomobile{
		display:none !important;
	}
	span.mobile,
    a.mobile{
		display:inline-block !important;
	}
	input[type="text"],
	input[type="submit"],
    select,
    textarea{
	    width:100% !important;
	    margin-bottom:5px;
    }
    .select-item input[type="text"]{
	    width:90% !important;
    }
    .select-item button{
	    padding-left:5px;
    }
    .dropdown-menu{
	    background-color:#fff !important;
    }
    .dropdown-menu>li>a{
	    color:#fff;
	    padding-left:10px;
    }
    .dropdown-menu>li>a:hover{
	    color:#fff;
    }
    .navbar-collapse{
		padding-left:25px;
	}
    .navbar-brand{
    	padding-left:5px;
    	margin-bottom:0px;
    	margin-left:10px;
    }
    .navbar-nav{
    	float:none;
	margin-top:inherit;
    }
		.navbar .social{
			display:none;
		}
		.navbar form{
			display: none;
		}
		.navbar .fa{
			color:#fff;
		}
		.navbar-toggle{
			margin-right: 10px;
			padding: 9px 5px;
		}
		.navbar-toggle .icon-bar{
			border-bottom:1px solid #fff;
		}
		.column{
			padding:10px;
		}
    .info div{
		margin-right:0px;
		padding-right:0px;
		display: block;
		margin-bottom:5px;
		border-right:0px;
		font-size: 0.9em;
	}
	body.page-airline img.logo{
		float:none;
	}
	.info div span{
		display:inline-block;
		width:40%;
		text-transform: none;
		font-weight:normal;
	}
	.search-explore,
	.search-explore a{
		display:block;
		width:100%;
	}
	.search-explore a{
		text-transform: uppercase;
	}
	.search-explore a i{
		float:right;
	}
	.search-containers{
		display:none;
	}
	footer{
		padding-top:0px !important;
	}
	.sub-menu{
		display:none;
	}
	.sub-menu ul li{
		width:100%;
	}
	.table-responsive{
	    margin-left:-15px;
      width:110%;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding-left:0px;
			padding-right:0px;
		}
		body.page-flightid .col-sm-4{
			padding-left:15px;
			padding-right:15px;
		}
		.sidebar{
			display:none;
		}
		.search-containers .bootstrap-select{
			width:250px !important;
		}
		.search-containers .bootstrap-select ul li a{
			color:#000;
		}
		.search-containers .search-box{
			margin-right:0px;
			margin-bottom:0.5em;
		}
		.alphabet .alphabet-item{
			width:40% !important;
		}
		.table-responsive{
			border-bottom:0px;
		}
		table tr td.more .dropdown-menu li a{
			color:inherit;
		}
    
    /* PAGE HEADER */
    .page-header{
        text-align: center;
        height:auto;
        float:none;
        padding-bottom:0px;
    }
    .page-header .big-image{
        float:none;
        width:70%;
        margin-right:0px;
    }
    .page-header .content{
        margin-left:0px; 
        margin-top:0px;
        float:none;
    }
    .page-header .content p{
        width:100%;   
    }


	/* FLIGHT ID */
	body.page-flightid-overview .image{
        width:100%;
    }

	/* ABOUT/TV */
	body.page-about-tv .tv-launch{
		width:80%;
	}
	body.page-about-tv .tv-image img{
		width:80%;
	}
    
    /* ABOUT/LAYAR */
	body.page-about-layar .layar-launch{
		width:80%;
	}
	body.page-about-layar .layar-image img{
		width:80%;
	}

	/* ABOUT/EXPORT */
	body.page-about-export .main-content .fa{
		display:none;
	}
	body.page-about-export .export-launch{
		width:80%;
	}
	body.page-about-export .export-image img{
		width:80%;
	}
    
    /* ABOUT/MAP */
    body.page-about-map .image-right-desktop{
        float:none;
        width:100%;
        text-align: center;
         margin-bottom:1.0em;
    }
    body.page-about-map .image-right-desktop img{
        width:80%;
    }
    body.page-about-map .image-right-mobile{
        float:none;
        width:100%;
        text-align: center;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:1.5em;
    }
    body.page-about-map .image-right-mobile img{
        width:40%;
    }

	/* Search */
	body.page-search .sub-menu li.short-url{
		display:none;
	}
    
    /* HIGHLIGHTS */
    body.page-highlights-display .dispay-view div:nth-child(4n){
        margin-right:1.0em;
    }
    body.page-highlights-display .dispay-view div:nth-child(2n){
        margin-right:0px;   
    }
    body.page-highlights-display .dispay-view div img{
        width:140px;
    }
    
    /* STATISTIC */
    body.page-statistics .global-stats div{
        width:100%;
        font-size:2.0em;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:1.0em;
    }
    body.page-statistics .global-stats .type{
        border-bottom:0px;   
    }

    /* FLIGHT ID */
    body.page-flightid-overview .details .detail{
        width:100%;
    }
    
    body.page-flightid-overview .airline-logo{
	display:block;
	margin-bottom:0.2em;
    }

}


/* Mobile (Landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    /* HIGHLIGHTS */
    body.page-highlights-display .dispay-view div:nth-child(4n){
        margin-right:1.0em;
    }
    body.page-highlights-display .dispay-view div:nth-child(3n){
        margin-right:0px;   
    }
    body.page-highlights-display .dispay-view div img{
        width:170px;
    }


}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
