html, body, #map {
  height: 100%;
  margin: 0px;
  padding: 0px
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

.button{
  position:absolute;
  left:14px;
  background-color:#fff;
  width: 26px;
  height: 26px;
  text-align:center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border:2px solid #fff;
}
.button:hover{
  background-color: #f4f4f4;
}
.button.active{
  border:2px solid #991F00;
}
.button .fa{
  font-size:1.2em;
  margin-top:3px;
  color:#1a3151;
}
.zoom-in .fa,
.zoom-out .fa{
  font-size:1.0em;
  margin-top:6px;
}
.zoom-in{
  top:20px;
}
.zoom-out{
  top:53px;
}
.geocode{
  top:95px;
}
.compass{
  top:128px;
}

.leaflet-container{
  font-size:14px;
}

body.page-live .leaflet-popup-content-wrapper{
  width:400px;
}
body.page-live .leaflet-popup-content-wrapper .left{
  display:inline-block;
  width:50%;
  vertical-align:top;
}
body.page-live .leaflet-popup-content-wrapper .left img{
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  border-top-left-radius: 12px;
  width:100%;
}
body.page-live .leaflet-popup-content-wrapper .leaflet-popup-content{
  width: 100% !important;
  margin:0px;
}
body.page-live .leaflet-popup-content-wrapper .right{
  display:inline-block;
  width:50%;
  vertical-align:top;
}
body.page-live .leaflet-popup-content-wrapper .right .callsign-details{
  background-color:#1a3151;
  color:#fff;
  padding:10px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-top-right-radius: 12px;
}
body.page-live .leaflet-popup-content-wrapper .right .callsign-details .callsign a{
  font-size:1.5em;
  color:#fff;
}
body.page-live .leaflet-popup-content-wrapper .right .airports .airport{
  display:inline-block;
  width:40%;
  vertical-align:top;
  text-align:center;
  padding:5px;
  margin-bottom:5px;
}
body.page-live .leaflet-popup-content-wrapper .right .airports .fa{
  display:inline-block;
  margin-top:10px;
  font-size:1.5em;
}
body.page-live .leaflet-popup-content-wrapper .right .airports .airport .code a{
  font-size:1.4em;
  font-weight:bold;
  color:#1a3151;
}
body.page-live .leaflet-popup-content-wrapper .right .airports .airport .code a:hover{
  text-decoration:underline;
}
body.page-live .leaflet-popup-content-wrapper .details{
  padding:10px;
  padding-top:5px;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details div{
  border-bottom:1px solid #eee;
  margin-bottom:5px;
  padding-bottom:5px;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details span{
  display:block;
  text-transform:uppercase;
  color:#aaa;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details .beside{
  width:100%;
  border-bottom:0px;
  text-align:center !important;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details .beside div{
  width:30%;
  display:inline-block;
  border-bottom:0px;
  border-right:1px solid #eee;
  vertical-align:top;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details .beside div:first-child{
  padding-left:0px;
}
body.page-live .leaflet-popup-content-wrapper .details .little-details .beside div:last-child{
  border-right:0px;
  padding-right:0px;
}
