html, body, #live-map, .container.main-content.index {
  height: 100% !important;
  width:100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
#archive-map {
    height: 350px;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.close {
    margin: 7px;
    color: rebeccapurple;
    position: absolute;
    right: 10px;
}
.button{
/*  position:absolute;*/
/*  left:14px;*/
  background-color:#fff;
  width: 126px;
  height: 26px;
  text-align:center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border:2px solid #fff;
}
.button:hover{
  background-color: #f4f4f4;
}
.button.active{
  border:2px solid #991F00;
}
.button .fa{
  font-size:1.2em;
  margin-top:3px;
  color:#1a3151;
}

/*
.zoom-in .fa,
.zoom-out .fa{
  font-size:1.0em;
  margin-top:6px;
}
.zoom-in{
  top:65px;
}
.zoom-out{
  top:95px;
}
.geocode{
  top:140px;
}
.compass{
  top:170px;
}
.weatherradar{
  top:220px;
}
.weathersatellite{
  top:250px;
}
.weatherprecipitation{
  top:280px;
}
.weatherrain{
  top:310px;
}
.weatherclouds{
  top:340px;
}
.waypoints{
  top:380px;
}
.airspace{
  top:410px;
}
.notam{
  top:450px;
}
  */
  /*
.showdetails {
    top: 55px;
    width: 300px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 12px;
    text-align: center;
    position: absolute;
}
*/
.infobox {
    top: 55px;
    padding: 16px 18px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    position: absolute;
    right: 10px;
    z-index: 2000;
}
.infobox h4 {
    margin: 0 0 5px;
    color: #777;
}
.infobox td {
    width: initial;
}
.archivebox {
    top: 55px;
    right: 220px;
    padding: 10px 18px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: #FFCA42;
    background: rgba(255,206,66,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    z-index: 2000;
    position: absolute;
    display: none;
}
.archivebox h4 {
    margin: 0 0 5px;
    color: #777;
}
.archivebox form {
    padding: 5px;
    margin-bottom: 0px;
}
.range.archive {
    width: 200px;
    margin-top: 0;
}
.mobile{
    display: none !important;
}

.leaflet-container{
  font-size:14px;
}
.leaflet-marker-pane .tooltip{
    width:95px;  
    font-size:0.8em;
    opacity:0.7 !important;
}
.maptooltip{
    font-size: 0.8em;
}
.satellite {
    display: inline-block;
    content:url(../images/satellite.png);
}

body.page-index .leaflet-popup-content-wrapper{
  width:400px;
}
body.page-index .leaflet-popup-content-wrapper a:hover{
    text-decoration: underline;
}
body.page-index .leaflet-popup-content-wrapper .left{
  display:inline-block;
  width:50%;
  vertical-align:top;
}
body.page-index .leaflet-popup-content-wrapper .left img{
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  border-top-left-radius: 12px;
  width:100%;
}
body.page-index .leaflet-popup-content-wrapper .leaflet-popup-content{
  width: 100% !important;
  margin:0px;
}
body.page-index .leaflet-popup-content-wrapper .right{
  display:inline-block;
  width:50%;
  vertical-align:top;
}
body.page-index .leaflet-popup-content-wrapper .right .callsign-details{
  background-color:#1a3151;
  color:#fff;
  padding:10px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-top-right-radius: 12px;
}
body.page-index .leaflet-popup-content-wrapper .title{
  background-color:#1a3151;
  color:#fff;
  padding:10px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-top-right-radius: 12px;
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  border-top-left-radius: 12px;
}
body.page-index .leaflet-popup-content-wrapper .title .title-details a{
  font-size:1.5em;
  color:#fff;
}

body.page-index .leaflet-popup-content-wrapper .name{
  padding:4px;
}
body.page-index .leaflet-popup-content-wrapper .name span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
body.page-index .leaflet-popup-content-wrapper .type{
  padding:4px;
}
body.page-index .leaflet-popup-content-wrapper .type span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}

body.page-index .leaflet-popup-content-wrapper .acars{
  padding:4px;
}
body.page-index .leaflet-popup-content-wrapper .acars span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
body.page-index .leaflet-popup-content-wrapper .waypoints{
  padding:4px;
}
body.page-index .leaflet-popup-content-wrapper .waypoints span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
body.page-index .leaflet-popup-content-wrapper .bottom{
  background-color:#1a3151;
  color:#fff;
  padding:10px;
  border-radius: 0 0 12px 12px;
}
body.page-index .leaflet-popup-content-wrapper .right .callsign-details .callsign a{
  font-size:1.5em;
  color:#fff;
}
body.page-index .leaflet-popup-content-wrapper .right .airports .airport{
  display:inline-block;
  width:40%;
  vertical-align:top;
  text-align:center;
  padding:5px;
  margin-bottom:5px;
}
body.page-index .leaflet-popup-content-wrapper .right .airports .fa{
  display:inline-block;
  margin-top:10px;
  font-size:1.5em;
}
body.page-index .leaflet-popup-content-wrapper .right .airports .airport .code a{
  font-size:1.4em;
  font-weight:bold;
  color:#1a3151;
    display:block;
}
body.page-index .leaflet-popup-content-wrapper .right .airports .airport .time{
  display:inline-block;
  font-size:0.8em;
  font-style:italic;
  color:#92a2b7;
}
body.page-index .leaflet-popup-content-wrapper .details{
  padding:10px;
  padding-top:5px;
}
body.page-index .leaflet-popup-content-wrapper .details div{
  margin-bottom:5px;
  padding-bottom:5px;
  width:45%;
  display:inline-block;
  vertical-align:top;
  margin-right:5%;
  border-bottom:1px solid #eee;
}
body.page-index .leaflet-popup-content-wrapper .details div:nth-child(6),
body.page-index .leaflet-popup-content-wrapper .details div:nth-child(7){
  border-bottom:0px;
}
body.page-index .leaflet-popup-content-wrapper .details span{
  display:block;
  text-transform:uppercase;
  color:#aaa;
}
body.page-index .leaflet-popup-content-wrapper .details div a{
    color:#333;
}

/* new details */

.showdetails a:hover{
    text-decoration: underline;
}

.showdetails {
  position: absolute;
  right: 5px;
  top: 160px;
  margin: 0px;
    width: 300px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 12px;
    text-align: center;
    z-index: 2000;
}
.showdetails img {
  display:inline-block;
  margin: 5px;
  max-width: 280px;
  width: 90%;
  max-height: 280px;
}
.showdetails .blocked {
  display:inline-block;
  margin: 5px;
  max-width: 25px;
  width: 90%;
  max-height: 25px;
}
.showdetails .callsign-details{
  background-color:#1a3151;
  color:#fff;
  padding:10px;
  border-radius: 12px 12px 0 0;
  margin: 2px;
}
.showdetails .acars{
  padding:4px;
}
.showdetails .acars span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
.showdetails .notamtext{
  padding:4px;
}
.showdetails .notamtext span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
.showdetails .date{
  padding:4px;
}
.showdetails .date span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
.showdetails .waypoints{
  padding:4px;
}
.showdetails .waypoints span{
    display:block;
    text-transform: uppercase;
    color:#aaa;
}
.showdetails .bottom{
  background-color:#1a3151;
  color:#fff;
  margin: 2px;
  padding: 10px;
  border-radius: 0 0 12px 12px;
}
.showdetails .callsign-details .callsign a{
  font-size:1.5em;
  color:#fff;
}
.showdetails .airports .airport{
  display:inline-block;
  width:40%;
  vertical-align:top;
  text-align:center;
  padding:5px;
  margin-bottom:5px;
}
.showdetails .airports .fa{
  display:inline-block;
  margin-top:10px;
  font-size:1.5em;
}
.showdetails .airports .airport .code a{
  font-size:1.4em;
  font-weight:bold;
  color:#1a3151;
    display:block;
}
.showdetails .airports .airport .time{
  display:inline-block;
  font-size:0.8em;
  font-style:italic;
  color:#92a2b7;
}
.showdetails .details{
  padding:10px;
  padding-top:5px;
}
.showdetails .details div{
  margin-bottom:5px;
  padding-bottom:5px;
  width:45%;
  display:inline-block;
  vertical-align:top;
  margin-right:5%;
  border-bottom:1px solid #eee;
}
.showdetails .details div:nth-child(6),
.showdetails .details div:nth-child(7){
  border-bottom:0px;
}
.showdetails .details span{
  display:block;
  text-transform:uppercase;
  color:#aaa;
}
.showdetails .details div a{
    color:#333;
}
.latitude {
    text-transform: none;
    display: inline-block !important;
    color:#000000 !important;
}
.longitude {
    text-transform: none;
    display: inline-block !important;
    color:#000000 !important;
}
.heading {
    text-transform: none;
    display: inline-block !important;
    color:#000000 !important;
}
.altitude {
    text-transform: none !important;
    display: inline-block !important;
    color:#000000 !important;
}
.groundaltitude {
    text-transform: none !important;
    display: inline-block !important;
    color:#000000 !important;
}
.realspeed {
    text-transform: none !important;
    display: inline-block !important;
    color:#000000 !important;
}
#realspeed {
    visibility: hidden;
}

.atcname{
  background-color:#3d76bf;
  color:#fff;
  padding:5px;
  border-radius: 12px 12px 0 0;
}
.map-temp{
    color:#ff2731;
    font-size:1.4em;
    font-weight:bold;
}


/* Mobile (Portrait/Landscape) */
@media only screen and (max-width: 767px) {
 
    .mobile{
        display: block !important;
    }
    .nomobile{
        display: none !important;
    }
    .leaflet-control-attribution{
        display:none;
    }
    body.page-index .leaflet-popup-content-wrapper{
      width:200px;
    }
    body.page-index .leaflet-popup-content-wrapper .right .callsign-details{
        height:66px;
        padding-top:5px;
    }
    body.page-index .leaflet-popup-content-wrapper .details .airports{
        width:100%;
    }
    body.page-index .leaflet-popup-content-wrapper .details .airports .airport{
      display:inline-block;
      width:36%;
      vertical-align:top;
      text-align:center;
      padding:5px;
      margin-bottom:5px;
      border-bottom:none;
    }
    body.page-index .leaflet-popup-content-wrapper .details .airports .fa{
      display:inline-block;
      margin-top:10px;
      font-size:1.5em;
    }
    body.page-index .leaflet-popup-content-wrapper .details .airports .airport .code a{
      font-size:1.4em;
      font-weight:bold;
      color:#1a3151;
    }
    
    .leaflet-marker-pane .tooltip{ 
        font-size:0.7em;
        width:50px;
        
    }
    
}
.ui-dialog { z-index: 3000 !important ;}
.datatabledata {
	z-index: 2000;
	position: absolute;
	margin: 0px;
	display: block;
	overflow: auto;
	height: 20em;
	width: 100%;
	background-color: white;
}

