RewriteEngine On

########### GENERAL ###########

RewriteRule ^latest/([^/]+)/([^/]+)(/?)$ latest.php?limit=$1&sort=$2 [L,NC]
RewriteRule ^latest/([^/]+)(/?)$ latest.php?limit=$1 [L,NC]
RewriteRule ^latest(/?)$ latest.php [L,NC]
RewriteRule ^currently/([^/]+)/([^/]+)(/?)$ currently.php?limit=$1&sort=$2 [L,NC]
RewriteRule ^currently/([^/]+)(/?)$ currently.php?limit=$1 [L,NC]
RewriteRule ^currently(/?)$ currently.php [L,NC]
RewriteRule ^acars-latest/([^/]+)(/?)$ acars-latest.php?limit=$1 [L,NC]
RewriteRule ^acars-archive/([^/]+)(/?)$ acars-archive.php?limit=$1 [L,NC]
RewriteRule ^acars-latest(/?)$ acars-latest.php [L,NC]
RewriteRule ^acars-archive(/?)$ acars-archive.php [L,NC]
RewriteRule ^newest/([^/]+)/([^/]+)/([^/]+)(/?)$ newest.php?category=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^newest/([^/]+)/([^/]+)(/?)$ newest.php?category=$1&limit=$2 [L,NC]
RewriteRule ^newest/([^/]+)(/?)$ newest.php?category=$1 [L,NC]
RewriteRule ^newest(/?)$ newest.php [L,NC]
RewriteRule ^highlights/table/([^/]+)/([^/]+)(/?)$ highlights-table.php?limit=$1&sort=$2 [L,NC]
RewriteRule ^highlights/table/([^/]+)(/?)$ highlights-table.php?limit=$1 [L,NC]
RewriteRule ^highlights/table(/?)$ highlights-table.php [L,NC]
RewriteRule ^highlights/([^/]+)(/?)$ highlights-display.php?limit=$1 [L,NC]
RewriteRule ^highlights(/?)$ highlights-display.php [L,NC]
RewriteRule ^about/tv(/?)$ about-tv.php [L,NC]
RewriteRule ^about/map(/?)$ about-map.php [L,NC]
RewriteRule ^about/export(/?)$ about-export.php [L,NC]
RewriteRule ^about(/?)$ about.php [L,NC]
RewriteRule ^contribute(/?)$ contribute.php [L,NC]
RewriteRule ^sitemap/([^/]+)(/?)$ sitemap.php?type=$1 [L,NC]
RewriteRule ^sitemap(/?)$ sitemap.php [L,NC]
RewriteRule ^tv/([^/]+)(/?)$ tv.php?q=$1 [L,NC]
RewriteRule ^tv(/?)$ tv.php [L,NC]
RewriteRule ^redirect/([^/]+)(/?)$ redirect.php?flightaware_id=$1 [L,NC]


########### LIVE ###########

RewriteRule ^live/geojson(/?)$ live-geojson.php [L,NC]


########### SEARCH ###########

RewriteRule ^search/csv(/?)$ search-csv.php [L,NC]
RewriteRule ^search/json(/?)$ search-json.php [L,NC]
RewriteRule ^search/xml(/?)$ search-xml.php [L,NC]
RewriteRule ^search/rss(/?)$ search-rss.php [L,NC]
RewriteRule ^search/kml(/?)$ search-kml.php [L,NC]
RewriteRule ^search/geojson(/?)$ search-geojson.php [L,NC]
RewriteRule ^search/yaml(/?)$ search-yaml.php [L,NC]
RewriteRule ^search/php(/?)$ search-php.php [L,NC]
RewriteRule ^search/wkt(/?)$ search-wkt.php [L,NC]
RewriteRule ^search/gpx(/?)$ search-gpx.php [L,NC]
RewriteRule ^search/georss(/?)$ search-georss.php [L,NC]
RewriteRule ^search(/?)$ search.php [L,NC]

########### AIRPORT ###########

RewriteRule ^airport/statistics/aircraft/([^/]+)(/?)$ airport-statistics-aircraft.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/registration/([^/]+)(/?)$ airport-statistics-registration.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/manufacturer/([^/]+)(/?)$ airport-statistics-manufacturer.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/airline/([^/]+)(/?)$ airport-statistics-airline.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/airline-country/([^/]+)(/?)$ airport-statistics-airline-country.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/departure-airport/([^/]+)(/?)$ airport-statistics-departure-airport.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/departure-airport-country/([^/]+)(/?)$ airport-statistics-departure-airport-country.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/arrival-airport/([^/]+)(/?)$ airport-statistics-arrival-airport.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/arrival-airport-country/([^/]+)(/?)$ airport-statistics-arrival-airport-country.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/time/([^/]+)(/?)$ airport-statistics-time.php?airport=$1 [L,NC]
RewriteRule ^airport/statistics/route/([^/]+)(/?)$ airport-statistics-route.php?airport=$1 [L,NC]
RewriteRule ^airport/detailed/([^/]+)/([^/]+)/([^/]+)(/?)$ airport-detailed.php?airport=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^airport/detailed/([^/]+)/([^/]+)(/?)$ airport-detailed.php?airport=$1&limit=$2 [L,NC]
RewriteRule ^airport/([^/]+)/([^/]+)/([^/]+)(/?)$ airport-detailed.php?airport=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^airport/([^/]+)/([^/]+)(/?)$ airport-detailed.php?airport=$1&limit=$2 [L,NC]
RewriteRule ^airport/([^/]+)(/?)$ airport-detailed.php?airport=$1 [L,NC]
RewriteRule ^airport(/?)$ airport.php [L,NC]

########### COUNTRY ###########

RewriteRule ^country/statistics/aircraft/([^/]+)(/?)$ country-statistics-aircraft.php?country=$1 [L,NC]
RewriteRule ^country/statistics/registration/([^/]+)(/?)$ country-statistics-registration.php?country=$1 [L,NC]
RewriteRule ^country/statistics/manufacturer/([^/]+)(/?)$ country-statistics-manufacturer.php?country=$1 [L,NC]
RewriteRule ^country/statistics/airline/([^/]+)(/?)$ country-statistics-airline.php?country=$1 [L,NC]
RewriteRule ^country/statistics/airline-country/([^/]+)(/?)$ country-statistics-airline-country.php?country=$1 [L,NC]
RewriteRule ^country/statistics/departure-airport/([^/]+)(/?)$ country-statistics-departure-airport.php?country=$1 [L,NC]
RewriteRule ^country/statistics/departure-airport-country/([^/]+)(/?)$ country-statistics-departure-airport-country.php?country=$1 [L,NC]
RewriteRule ^country/statistics/arrival-airport/([^/]+)(/?)$ country-statistics-arrival-airport.php?country=$1 [L,NC]
RewriteRule ^country/statistics/arrival-airport-country/([^/]+)(/?)$ country-statistics-arrival-airport-country.php?country=$1 [L,NC]
RewriteRule ^country/statistics/time/([^/]+)(/?)$ country-statistics-time.php?country=$1 [L,NC]
RewriteRule ^country/statistics/route/([^/]+)(/?)$ country-statistics-route.php?country=$1 [L,NC]
RewriteRule ^country/([^/]+)/([^/]+)/([^/]+)(/?)$ country-detailed.php?country=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^country/([^/]+)/([^/]+)(/?)$ country-detailed.php?country=$1&limit=$2 [L,NC]
RewriteRule ^country/([^/]+)(/?)$ country-detailed.php?country=$1 [L,NC]
RewriteRule ^country(/?)$ country.php [L,NC]


########### REGISTRATION ###########

RewriteRule ^registration/statistics/departure-airport/([^/]+)(/?)$ registration-statistics-departure-airport.php?registration=$1 [L,NC]
RewriteRule ^registration/statistics/departure-airport-country/([^/]+)(/?)$ registration-statistics-departure-airport-country.php?registration=$1 [L,NC]
RewriteRule ^registration/statistics/arrival-airport-country/([^/]+)(/?)$ registration-statistics-arrival-airport-country.php?registration=$1 [L,NC]
RewriteRule ^registration/statistics/arrival-airport/([^/]+)(/?)$ registration-statistics-arrival-airport.php?registration=$1 [L,NC]
RewriteRule ^registration/statistics/time/([^/]+)(/?)$ registration-statistics-time.php?registration=$1 [L,NC]
RewriteRule ^registration/statistics/route/([^/]+)(/?)$ registration-statistics-route.php?registration=$1 [L,NC]
RewriteRule ^registration/([^/]+)/([^/]+)/([^/]+)(/?)$ registration-detailed.php?registration=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^registration/([^/]+)/([^/]+)(/?)$ registration-detailed.php?registration=$1&limit=$2 [L,NC]
RewriteRule ^registration/([^/]+)(/?)$ registration-detailed.php?registration=$1 [L,NC]
RewriteRule ^registration(/?)$ registration.php [L,NC]


########### MANUFACTURER ###########

RewriteRule ^manufacturer/statistics/aircraft/([^/]+)(/?)$ manufacturer-statistics-aircraft.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/registration/([^/]+)(/?)$ manufacturer-statistics-registration.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/airline/([^/]+)(/?)$ manufacturer-statistics-airline.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/airline-country/([^/]+)(/?)$ manufacturer-statistics-airline-country.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/departure-airport/([^/]+)(/?)$ manufacturer-statistics-departure-airport.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/departure-airport-country/([^/]+)(/?)$ manufacturer-statistics-departure-airport-country.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/arrival-airport/([^/]+)(/?)$ manufacturer-statistics-arrival-airport.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/arrival-airport-country/([^/]+)(/?)$ manufacturer-statistics-arrival-airport-country.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/time/([^/]+)(/?)$ manufacturer-statistics-time.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/statistics/route/([^/]+)(/?)$ manufacturer-statistics-route.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer/([^/]+)/([^/]+)/([^/]+)(/?)$ manufacturer-detailed.php?aircraft_manufacturer=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^manufacturer/([^/]+)/([^/]+)(/?)$ manufacturer-detailed.php?aircraft_manufacturer=$1&limit=$2 [L,NC]
RewriteRule ^manufacturer/([^/]+)(/?)$ manufacturer-detailed.php?aircraft_manufacturer=$1 [L,NC]
RewriteRule ^manufacturer(/?)$ manufacturer.php [L,NC]


########### AIRLINE ###########

RewriteRule ^airline/statistics/aircraft/([^/]+)(/?)$ airline-statistics-aircraft.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/registration/([^/]+)(/?)$ airline-statistics-registration.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/manufacturer/([^/]+)(/?)$ airline-statistics-manufacturer.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/departure-airport/([^/]+)(/?)$ airline-statistics-departure-airport.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/departure-airport-country/([^/]+)(/?)$ airline-statistics-departure-airport-country.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/arrival-airport/([^/]+)(/?)$ airline-statistics-arrival-airport.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/arrival-airport-country/([^/]+)(/?)$ airline-statistics-arrival-airport-country.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/time/([^/]+)(/?)$ airline-statistics-time.php?airline=$1 [L,NC]
RewriteRule ^airline/statistics/route/([^/]+)(/?)$ airline-statistics-route.php?airline=$1 [L,NC]
RewriteRule ^airline/([^/]+)/([^/]+)/([^/]+)(/?)$ airline-detailed.php?airline=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^airline/([^/]+)/([^/]+)(/?)$ airline-detailed.php?airline=$1&limit=$2 [L,NC]
RewriteRule ^airline/([^/]+)(/?)$ airline-detailed.php?airline=$1&limit=$2 [L,NC]
RewriteRule ^airline(/?)$ airline.php [L,NC]


########### ROUTE ###########

RewriteRule ^route/statistics/aircraft/([^/]+)/([^/]+)(/?)$ route-statistics-aircraft.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/statistics/registration/([^/]+)/([^/]+)(/?)$ route-statistics-registration.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/statistics/manufacturer/([^/]+)/([^/]+)(/?)$ route-statistics-manufacturer.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/statistics/airline/([^/]+)/([^/]+)(/?)$ route-statistics-airline.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/statistics/airline-country/([^/]+)/([^/]+)(/?)$ route-statistics-airline-country.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/statistics/time/([^/]+)/([^/]+)(/?)$ route-statistics-time.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route/([^/]+)/([^/]+)/([^/]+)/([^/]+)(/?)$ route-detailed.php?departure_airport=$1&arrival_airport=$2&limit=$3&sort=$4 [L,NC]
RewriteRule ^route/([^/]+)/([^/]+)/([^/]+)(/?)$ route-detailed.php?departure_airport=$1&arrival_airport=$2&limit=$3 [L,NC]
RewriteRule ^route/([^/]+)/([^/]+)(/?)$ route-detailed.php?departure_airport=$1&arrival_airport=$2 [L,NC]
RewriteRule ^route(/?)$ route.php [L,NC]


########### IDENT ###########

RewriteRule ^ident/statistics/aircraft/([^/]+)(/?)$ ident-statistics-aircraft.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/registration/([^/]+)(/?)$ ident-statistics-registration.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/manufacturer/([^/]+)(/?)$ ident-statistics-manufacturer.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/departure-airport/([^/]+)(/?)$ ident-statistics-departure-airport.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/departure-airport-country/([^/]+)(/?)$ ident-statistics-departure-airport-country.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/arrival-airport/([^/]+)(/?)$ ident-statistics-arrival-airport.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/arrival-airport-country/([^/]+)(/?)$ ident-statistics-arrival-airport-country.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/time/([^/]+)(/?)$ ident-statistics-time.php?ident=$1 [L,NC]
RewriteRule ^ident/statistics/route/([^/]+)(/?)$ ident-statistics-route.php?ident=$1 [L,NC]
RewriteRule ^ident/([^/]+)/([^/]+)/([^/]+)(/?)$ ident-detailed.php?ident=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^ident/([^/]+)/([^/]+)(/?)$ ident-detailed.php?ident=$1&limit=$2 [L,NC]
RewriteRule ^ident/([^/]+)(/?)$ ident-detailed.php?ident=$1 [L,NC]
RewriteRule ^ident(/?)$ ident.php [L,NC]


########### AIRCRAFT ###########

RewriteRule ^aircraft/statistics/airline/([^/]+)(/?)$ aircraft-statistics-airline.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/airline-country/([^/]+)(/?)$ aircraft-statistics-airline-country.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/registration/([^/]+)(/?)$ aircraft-statistics-registration.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/departure-airport/([^/]+)(/?)$ aircraft-statistics-departure-airport.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/departure-airport-country/([^/]+)(/?)$ aircraft-statistics-departure-airport-country.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/arrival-airport/([^/]+)(/?)$ aircraft-statistics-arrival-airport.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/arrival-airport-country/([^/]+)(/?)$ aircraft-statistics-arrival-airport-country.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/time/([^/]+)(/?)$ aircraft-statistics-time.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/statistics/route/([^/]+)(/?)$ aircraft-statistics-route.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft/([^/]+)/([^/]+)/([^/]+)(/?)$ aircraft-detailed.php?aircraft_type=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^aircraft/([^/]+)/([^/]+)(/?)$ aircraft-detailed.php?aircraft_type=$1&limit=$2 [L,NC]
RewriteRule ^aircraft/([^/]+)(/?)$ aircraft-detailed.php?aircraft_type=$1 [L,NC]
RewriteRule ^aircraft(/?)$ aircraft.php [L,NC]


########### DATE ###########

RewriteRule ^date/statistics/aircraft/([^/]+)(/?)$ date-statistics-aircraft.php?date=$1 [L,NC]
RewriteRule ^date/statistics/registration/([^/]+)(/?)$ date-statistics-registration.php?date=$1 [L,NC]
RewriteRule ^date/statistics/manufacturer/([^/]+)(/?)$ date-statistics-manufacturer.php?date=$1 [L,NC]
RewriteRule ^date/statistics/airline/([^/]+)(/?)$ date-statistics-airline.php?date=$1 [L,NC]
RewriteRule ^date/statistics/airline-country/([^/]+)(/?)$ date-statistics-airline-country.php?date=$1 [L,NC]
RewriteRule ^date/statistics/departure-airport/([^/]+)(/?)$ date-statistics-departure-airport.php?date=$1 [L,NC]
RewriteRule ^date/statistics/departure-airport-country/([^/]+)(/?)$ date-statistics-departure-airport-country.php?date=$1 [L,NC]
RewriteRule ^date/statistics/arrival-airport/([^/]+)(/?)$ date-statistics-arrival-airport.php?date=$1 [L,NC]
RewriteRule ^date/statistics/arrival-airport-country/([^/]+)(/?)$ date-statistics-arrival-airport-country.php?date=$1 [L,NC]
RewriteRule ^date/statistics/time/([^/]+)(/?)$ date-statistics-time.php?date=$1 [L,NC]
RewriteRule ^date/statistics/route/([^/]+)(/?)$ date-statistics-route.php?date=$1 [L,NC]
RewriteRule ^date/([^/]+)/([^/]+)/([^/]+)(/?)$ date-detailed.php?date=$1&limit=$2&sort=$3 [L,NC]
RewriteRule ^date/([^/]+)/([^/]+)(/?)$ date-detailed.php?date=$1&limit=$2 [L,NC]
RewriteRule ^date/([^/]+)(/?)$ date-detailed.php?date=$1 [L,NC]
RewriteRule ^date(/?)$ date.php [L,NC]

########### ARCHIVE ###########

RewriteRule ^archive/country/([^/]+)/([^/]+)(/?)$ archive-country.php?country=$1&date=$2 [L,NC]


########### FLIGHTID ###########

RewriteRule ^flightid/([^/]+)(/?)$ flightid-overview.php?id=$1 [L,NC]


########### STATISTICS ###########

RewriteRule ^statistics/aircraft(/?)$ statistics-aircraft.php [L,NC]
RewriteRule ^statistics/registration(/?)$ statistics-registration.php [L,NC]
RewriteRule ^statistics/manufacturer(/?)$ statistics-manufacturer.php [L,NC]
RewriteRule ^statistics/airline(/?)$ statistics-airline.php [L,NC]
RewriteRule ^statistics/airline-country(/?)$ statistics-airline-country.php [L,NC]
RewriteRule ^statistics/airport-departure(/?)$ statistics-airport-departure.php [L,NC]
RewriteRule ^statistics/airport-departure-country(/?)$ statistics-airport-departure-country.php [L,NC]
RewriteRule ^statistics/airport-arrival(/?)$ statistics-airport-arrival.php [L,NC]
RewriteRule ^statistics/airport-arrival-country(/?)$ statistics-airport-arrival-country.php [L,NC]
RewriteRule ^statistics/route-airport(/?)$ statistics-route-airport.php [L,NC]
RewriteRule ^statistics/route-waypoint(/?)$ statistics-route-waypoint.php [L,NC]
RewriteRule ^statistics/callsign(/?)$ statistics-callsign.php [L,NC]
RewriteRule ^statistics/date(/?)$ statistics-date.php [L,NC]
RewriteRule ^statistics/time(/?)$ statistics-time.php [L,NC]
RewriteRule ^statistics/month(/?)$ statistics-month.php [L,NC]
RewriteRule ^statistics/year(/?)$ statistics-year.php [L,NC]
RewriteRule ^statistics/owner(/?)$ statistics-owner.php [L,NC]
RewriteRule ^statistics/pilot(/?)$ statistics-pilot.php [L,NC]
RewriteRule ^statistics/country(/?)$ statistics-country.php [L,NC]
RewriteRule ^statistics(/?)$ statistics.php [L,NC]


########### UPCOMING ###########

RewriteRule ^upcoming/([^/]+)/([^/]+)(/?)$ upcoming.php?limit=$1&sort=$2 [L,NC]
RewriteRule ^upcoming/([^/]+)(/?)$ upcoming.php?limit=$1 [L,NC]

########### TOOLS ###########
RewriteRule ^tools/acars(/?)$ tools-acars.php [L,NC]
RewriteRule ^tools/metar(/?)$ tools-metar.php [L,NC]
RewriteRule ^tools/notam(/?)$ tools-notam.php [L,NC]
